 <!-- Statistics Section -->
  <div class="statistics">
    <div class="stat-card" (click)="selectStatus('all')">
      <h3>Total Users</h3>
      <p class="stat-number">{{ totalUsers }}</p>
    </div>
    <div class="stat-card active" (click)="selectStatus('active')">
      <h3>Active Users</h3>
      <p class="stat-number">{{ activeUsers }}</p>
    </div>
    <div class="stat-card inactive"  (click)="selectStatus('inactive')">
      <h3>Inactive Users</h3>
      <p class="stat-number">{{ inactiveUsers }}</p>
    </div>
  </div>
